.cards-wrapper {
  background: #f3f4f6;
  padding: 20px 40px;
  margin-top: 10px;
}

.category-wrapper {
  background: #f3f4f6;
  padding: 20px 40px;
  margin-top: 10px;
}

.offers-wrapper {
  padding: 20px 40px;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.category-carousel {
  cursor: pointer;
}

.category-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cat-txt {
  font-size: 13px;
  margin-top: 6px;
  color: #333;
}