.card-details-container {
    padding: 20px;
}
  
.back-header {
    display: inline-flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    cursor: pointer;
    transition: transform 0.1s ease;
    touch-action: manipulation;
}
  
.back-arrow {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
  
.voucher-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 5px;
}
  
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
  
.card-image {
    width: 570px;
    height: 336px;
    border-radius: 10px;
    object-fit: cover;
}
  
.offer-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 800px;
    margin: 0 auto;
}
  
.merchant-name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
  
.offer-summary {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin-top: 4px;
    text-align: justify;
}
  
.icon-container {
    width: 64px;
    height: 24px;
    display: flex;
    gap: 16px;
    align-items: center; /* optional, centers icons vertically */
}
  
.valid-date-section {
    width: 100%;
    height: 64px;
    /* align-items: center;
    gap: 24px; */
    /* padding-left: 12px; */
    padding-bottom: 16px;
    border-bottom: 1px solid #0000001A;
}
  
.valid {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ADADAD;
}
  
.valid-date-text {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}
  
.days-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.days-left {
    width: 90px;
    height: 28px;
    padding: 6px 10px;
    border-radius: 18px;
    background: #0F334133;
    font-family: 'DM Sans', sans-serif;    
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F3341;
}
/* 
.expand-section {
    width: 100%;
    height: 48px;
    gap: 16px;
    justify-content: space-between;
    border: 0px;
    border-radius: 12px;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px 0px #0000000F;
    box-shadow: 0px 4px 8px 0px #00000008;
    align-items: center;
} */

.redeem-offer-btn {
    width: 100%;
    height: 52px;
    border-radius: 6px;
    padding: 0 20px;
    background: #004A7F;
    box-shadow: 0px 8px 32px 0px #0000000F;
    box-shadow: 0px 4px 8px 0px #00000008;
    box-shadow: 0px 25px 50px 0px #00000017;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.redeem-offer-txt {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.expand-section {
    width: 100%;
    border-radius: 12px;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #00000008;
    justify-content: space-between;
    gap: 8px;
}

.expand-content {
    font-size: 14px;
    color: #333;
}

.expand {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.expand-img {
    transition: transform 0.3s ease;
}

.expand-img.rotate {
    transform: rotate(180deg);
}

.bullet-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 136%;
    letter-spacing: 0%;
    color: #263238;
}

.voucher {
    width: 100%;
    align-items: center;
}

.voucher-section {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px 0px #0000000F, 0px 4px 8px 0px #00000008;
}
  
.voucher-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.voucher-label {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    color: #666;
    margin-bottom: 4px;
    line-height: 100%;
    letter-spacing: -0.3px; 
}
  
.voucher-value {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
  
.discount-value {
    gap: 8px;
    display: flex;
    border-radius: 9px;
    padding: 6px;
    background: #BBFEEA;
    align-items: center;
}

.discount-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color: #263238;
  }

.discount-no {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #03865F;
}

.voucher-add-button .add-btn {
    background: #004A7F;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
  
.qty-controls {
    width: 95px;
    height: 44px;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    border-width: 1px;
    background: #E5E5E5;
    align-items: center;
}

.qty {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.3px;    
}

.mob-voucher-section {
    display: none;
}
  
@media screen and (max-width: 426px) {
    
    .voucher-section {
        display: none;
    }

    .card-image {
        width: 327px;
        height: 193px;
    }
  
.mob-voucher-section {
    width: 100%;
    height: 119px;
    padding: 12px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px 0px #0000000F, 0px 4px 8px 0px #00000008;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .voucher-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .voucher-bottom-row {
    display: flex;
    margin-top: 4px;
  }
  
  .mob-voucher-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mob-voucher-label {
    font-size: 12px;
    font-weight: 500;
    color: #666;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 2px;
  }
  
  .mob-voucher-value {
    font-size: 14px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
  }
  
  .full-width {
    width: 100%;
  }
    
}
  